/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.services-hero{
    background-image: url(../assets/hero/blog_hero.jpg);
    height: 200px;
    background-size: cover;
    justify-content: center;
    margin-bottom: 140px;
}
.services-hero h1{
    font-size: 40px;
    font-weight: 900;
    color: white;
}
.flex-services{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-section{
    width: 68%;
    margin-bottom: 30px;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.1);
}
.blog-section img{
    width: 100%;
}
.blog-date{
    position: absolute;
    bottom: 160px;
    left: 26px;
    height: 70px;
    width: 65px;
    background-color: #F9646A;
    text-align: center;
    color: white;
    border-radius: 4px;
}
.blog-date h1{
    font-size: 23px;
    padding: 10px 0;
    font-weight: 900;
}
.blog-date p{
    font-size: 15px;
    padding-bottom: 10px;
}
.blog-exp{
    padding: 17px;
}
.blog-exp h1{
    font-size: 17px;
    color: #022D5B;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 15px;
}
.blog-exp p{
    font-size: 10px;
    color: #617080;
    line-height: 1.8;
    padding-bottom: 15px;
}
.blog-comments{
    font-size: 10px;
    color:  #617080;
    padding-bottom: 15px;
    
}




